@import "base/variables";

// foundation
@import "base/foundation-settings";
@import "foundation";
@include foundation-everything;

// Components
@import "components/nav";
@import "components/home";

body {
	margin: 0 !important;
	padding: 0 !important;
  background: #f1f1f1;
  color: $primary-text;
  font-family: $main-font;

}
.element {
	min-height:500px;
  margin-top: -60px;
  padding-top: 120px;

  &[name="home"] {
    margin-bottom: 110px;
  }

  @media (max-width: $break-small) {
    margin-top: -110px;
    padding-top: 110px;
  }

  @media (max-width: $break-xsmall) {
    margin-top: -120px;
    padding-top: 130px;
  }
}
.space {
  background: #f1f1f1
    url('https://image.shutterstock.com/z/stock-photo-office-table-with-notebook-computer-keyboard-mouse-cup-of-coffee-tablet-pc-and-smartphone-copy-317730413.jpg')
    no-repeat center center fixed;
  // -webkit-background-size: 35% auto;
  // -moz-background-size: 35% auto;
  // -o-background-size: 35% auto;
  background-size: cover;
  max-height: 500px;
  height: 100%;
  // top: -30%;
}
.pg-content {
  background: #fff;
  box-shadow: 0px 0px 5px #ccc;
  padding: 1.25em 2em;
}

// .circle {
//   border-radius: 50%;
//   // transform: rotate(-30deg);
// }

h1, h2, h3, h4, h5 {

  // color: $primary;
}

.top-padding {
  padding-top:30px;
}

.tile {
  padding: 15px;

  .inside {
    padding: 0;
    background: $white;
    box-shadow: 0px 0px 5px #ccc;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    .wrapper {
      overflow: hidden;

      img {
        width: 100%;
        -moz-transition: all 0.2s;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;

        &:hover {
          -moz-transform: scale(1.1);
          -webkit-transform: scale(1.1);
          transform: scale(1.1);
        }
      }
    }

    h5 {
      padding: 15px;
      color: $primary-text;
      border-top: 2px solid $accent;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
    }
  }

  .job {
    border-top: 2px solid $accent;
    background: $white;
    box-shadow: 0px 0px 5px #ccc;
    padding: 20px;
    text-align: center;

    .dates {
      color: $primary;
      font-size: .85em;
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 10px;
    }
    .location {
      font-weight: 700;
      font-size: 1.2em;
    }
    .title {
      font-size: .75em;
      text-transform: uppercase;
      font-weight: 100;
    }
    .description {
      margin-top: 1.5em;
      text-align: left;
      font-size: .85em;
      .li {
        display: list-item;
        margin-left: 15px;
      }
    }
  }
}
