@import "base/variables";

// foundation
@import "base/foundation-settings";
@import "foundation";
@include foundation-everything;

// Components
@import "components/nav";
@import "components/home";

body {
	margin: 0 !important;
	padding: 0 !important;
  background: #f1f1f1;
  color: $primary-text;
  font-family: $main-font;

}
.element {
	min-height:500px;
  margin-top: -60px;
  padding-top: 120px;
  margin-bottom: 110px;

  @media (max-width: $break-small) {
    margin-top: -110px;
    padding-top: 110px;
  }

  @media (max-width: $break-xsmall) {
    margin-top: -120px;
    padding-top: 130px;
  }
}
.space {
  background: #f1f1f1
    url('https://image.shutterstock.com/z/stock-photo-office-table-with-notebook-computer-keyboard-mouse-cup-of-coffee-tablet-pc-and-smartphone-copy-317730413.jpg')
    no-repeat center center fixed;
  // -webkit-background-size: 35% auto;
  // -moz-background-size: 35% auto;
  // -o-background-size: 35% auto;
  background-size: cover;
  max-height: 500px;
  height: 100%;
  // top: -30%;
}
.pg-content {
  background: #fff;
  box-shadow: 0px 0px 5px #ccc;
  padding: 1.25em 2em;
}

// .circle {
//   border-radius: 50%;
//   // transform: rotate(-30deg);
// }

h1, h2, h3, h4, h5 {

  // color: $primary;
}

.top-padding {
  padding-top:30px;
}
