// Colors
// $grey: #333;
// $dark-green: #1B3022;
// $teal: #49BEAA;
// $light-teal: #49DCB1;
// $dark-blue: #495867;
// $pink: #EF767A;
// $yellow-orange: #EEB868;
// $purple: #7261A3;
// $light-purple: #A67DB8;

$dark-green: #00786A;
$medium-green: #009587;
$light-green: #B1DEDA;
$orange: #FE5621;
$black: #212121;
$grey: #757575;
$light-grey: #BDBDBD;
$white: #FEFEFE;

$dark-primary: $dark-green;
$primary: $medium-green;
$light-primary: $light-green;
$text-icons: $white;
$accent: $orange;
$primary-text: $black;
$secondary-text: $grey;
$divider-color: $light-grey;

// fonts
$cursive: Pacifico, sans-serif;
$main-font: 'Open Sans', sans-serif;

//media queries
$break-small: 770px;
$break-xsmall: 410px;
