.top-nav {
  background: $primary;
  color: $text-icons;
  box-shadow: 0 1px 4px rgba(90, 90, 90, .6);

  .top-bar {
    padding: 0;
  }
}

.active {
  border-bottom: 4px solid $accent;
  line-height: 2.4 !important;
  color: $text-icons !important;
  @media (max-width: $break-small) {
    line-height: 1.7 !important;
    font-weight: bold !important;
  }
  .sm {
    @media (max-width: $break-xsmall) {
      font-size: .85em;;
      line-height: 1.0 !important;
    }
  }
}

.cursive {
  font-family: $cursive;

  &.menu-text {
    font-weight: 100;
    font-size:2em;
    padding: .2em .7em;
    line-height: 1.5;

    @media (max-width: $break-small) {
      line-height: 1.65;
      font-size: 1.5em;
      padding: .25em .3em;
    }
    @media (max-width: $break-xsmall) {
      line-height: 1.4;
    }
  }
}

.menu {
  li {
    a {
      line-height: 2.5;
      color: $light-primary;
      font-weight: bold;
      padding: .7rem 1rem;

      .xs {
        display: none;
        text-align: center;
        font-size: 1.5em;

        @media (max-width: $break-xsmall) {
          display: block;

        }
      }

      @media (max-width: $break-small) {
        line-height: 1.9;
        font-size: .95rem;
        padding: .6rem .7rem;
        font-weight: 100;
        color: $text-icons;
      }
      @media (max-width: $break-xsmall) {
        font-size: .7em;
      }
    }
  }
}

.top-bar-left, .top-bar-right {
  width: initial;
  @media (max-width: $break-small) {
    display: flex;
    justify-content: center;
    float: inherit;
  }

}
